.bhr-container {
    margin: auto;
    padding: 50px;
    border-width: 0;
    background-color: #fff;
    min-width: 310px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 992px;
}

#bhr-app {
    font-family: Open Sans,sans-serif;
    text-align: center;
    color: #2c3e50;
    font-size: 100%;
    font-weight: 400;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/space-bg.c7a38d5c.png);
    min-height: 100vh;
}

.bhr-row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.bhr-form__group {
    padding: 15px 0;
}

.bhr-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bhr-account {
    border-right: 2px solid #78a614;
    padding: 8px 15px;
    text-align: right;
    color: #2c3e50;
    max-width: 330px;
}

.bhr-account p {
    margin: 0;
}

.bhr-account__plan-type {
    font-size: 1.25em;
    font-weight: 300;
}

.bhr-account__contacts {
    font-size: 1.5em;
    color: #78a614;
}

.bhr-account__info {
    font-size: .78em;
    color: #808386;
}
