.page-columns #container {
    max-width: 800px !important;
    margin: 0 auto !important;
}

.sm-form-logo {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}

.sm-consent {
    max-width: 386px !important;
    margin: 0 auto !important;
    display: block;
}

.sm-consent-checkbox-notice .admin__field-note{
    display: inline !important;
}

.fieldset-wrapper-title {
    text-align: center;
}
