.admin__menu .level-0.item-salesmanagoindex > a:before {
    background-image: url('../images/logo_mini.png');
    width: 50px;
    display: inline-block;
    content: "";
    background-size: 49px;
    height: 50px;
    background-repeat: no-repeat;
}
