.exportStatus {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    opacity: 1;
    max-height: 500px;
    transition: .1s all ease;
}
.exportStatusNothing {
    text-align: center;
    padding: 20px;
    border: 1px solid #1a3ca0;
    opacity: 1;
    max-height: 500px;
    transition: .1s all ease;
}
.exportStatus .notification {
    display: none;
    margin: 0;
}
.exportStatus.hidden,
.exportStatusNothing.hidden,

.exportStatus.succeed {
    border-color: forestgreen;
}
.exportStatus.succeed progress {
    display: none;
}
.exportStatus.succeed .notification, .exportStatusNothing.succeed .notification {
    display: block;
}

progress[value] {
    appearance: none;
    border: none;
    width: 70%; height: 10px;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em;
}

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    animation: animate-stripes 5s linear infinite;
}

progress[value]::-moz-progress-bar {
    background-image:
        -moz-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -moz-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -moz-linear-gradient( left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
}

progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;
    width:5px; height:5px;
    top:7px; right:7px;
    background-color: white;
    border-radius: 100%;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

progress::-webkit-progress-value  {
    background-image:
        -webkit-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -webkit-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -webkit-linear-gradient( left, #09c, #f44);
}

progress::-moz-progress-bar {
    background-image:
        -moz-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -moz-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -moz-linear-gradient( left, #09c, #f44);
}
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    width: 100%; height:20px;
}

h2.notification span {
    font-size: 24px;
    color: #eb5202;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    display: block;
    text-indent: -9999px;
}

.abandonedExport.hidden,
.exportFailedForm.hidden {
    opacity: 0;
    max-height: 0;
    padding: 0;
}

.exportFailedForm,
.abandonedExport {
    text-align: center;
    padding: 20px;
    border: 3px solid #eb5202;
    background-color: #fffbbb;
    opacity: 1;
    max-height: 500px;
    transition: .1s all ease;
}

.abandonedExport {
    border: 1px solid #333333;
}

.abandonedExport h2.notification span{
    color: #78a614;
}

.exportFailedForm .link-buttons,
.abandonedExport .link-buttons{
    margin: 15px;
    cursor: pointer;
}
