
<style>
    p.note{
        font-size: 12px;
    }
</style>

<h2><?php echo __('Please choose which order processing type will be exported as PURCHASE').':' ?></h2>

<?php

foreach ($this->getOrderStatusArray() as $item) {
        $checked = (in_array($item['value'], $this->getDefaultSMOrderProcessingType()) ) ? ' checked ' : '';
        echo "<p><input type='checkbox' onclick='addChecked(this)' class='order-types-input" . $checked . "' id='" . $item['value'] . "' name='orderTypes[" . $item['value'] . "]' " . $checked . " value='" . $item['value'] . "'/> {$item['label']} </p>";
}
?>
<br>
<p>
    <label for='custom-list'><?php echo __('Custom order types list') ?> :</label>
    <input class="admin__control-text order-types-custom-list" type="text" id="custom-list" name="custom-list" placeholder="order_type1,order_type2,order_type3,..."/>
    <p class="note"><span><?php echo __('Please consult which custom state use your developer, before enter any data here.') ?></span></p>
</p>

<script>
    function addChecked(el)
    {
        el.classList.toggle('checked');
    }
</script>
