<script>
    /*this variables is used for export-form.js*/
    const REST_URLs = {
        customers: '<?= /** @noEscape */ $block->getUrl('salesmanago/exports/customers')?>'+'?',
        guestCustomers: '<?= /** @noEscape */ $block->getUrl('salesmanago/exports/guestcustomers')?>'+'?',
        subscribers: '<?= /** @noEscape */ $block->getUrl('salesmanago/exports/subscribers')?>'+'?',
        orders: '<?= /** @noEscape */ $block->getUrl('salesmanago/exports/orders')?>'+'?',
        quotes: '<?= /** @noEscape */ $block->getUrl('salesmanago/exports/quotes')?>'+'?',
        setupAjaxExport: '<?= /** @noEscape */ $block->getUrl('salesmanago/exports/setupajaxexport')?>'+'?',
    };
</script>

<section class="exportFailedForm hidden">
    <h2 class="notification">
        <span class="failed-export-packages-number">0</span>
        <br>
        <?php echo __('packages encountered an error during the export.') ?>
        <br>
        <?php echo __('Do you want to retry to export them?') ?>
    </h2>

    <a id="retry-failed-export" class="link-buttons" onclick="ExportHelper.buttonRetryFailed()">
        <?php echo __('Retry') ?>
    </a>

    <a id="discard-failed-export" class="link-buttons" onclick="ExportHelper.buttonDiscardFailed()">
        <?php echo __('Discard') ?>
    </a>
</section>

<section class="exportStatus hidden">
    <h1>
        <?php echo __('Exported') ?>
        <strong>
            <span id="data-current" data-current>0</span>/<span id="total-packages-to-export" data-max>0</span>
        </strong>
    </h1>
    <progress id="sm_export" value="0" max="0">
        <div class="progress-bar">
            <h3><?php echo __('Export in progress') ?></h3>
        </div>
    </progress>
    <h2 class="notification">
        <?php echo __('The export was successful') ?>
    </h2>
</section>

<section class="exportStatusNothing hidden">
    <h2 class="notification">
        <?php echo __('No data to export in the selected time range') ?>
    </h2>
</section>

<section id="abandonedExport" class="abandonedExport hidden">
    <h2 class="notification">
        <?php echo __('You got unfinished export.') ?>
    </h2>

    <h2 class="notification">
        <span class="aborted-to-export-packages-number">0</span>
        <br>
        <?php echo __('packages are left for export.') ?>
        <br>
        <?php echo __('Do want to continue?') ?>
    </h2>

    <a id="retry-failed-export" class="link-buttons" onclick="ExportHelper.buttonRetryAbandoned()">
        <?php echo __('Yes') ?>
    </a>

    <a id="discard-failed-export" class="link-buttons" onclick="ExportHelper.buttonDiscardAbandoned()">
        <?php echo __('No') ?>
    </a>
</section>


