<div class="admin__field-note sm-consent">
    <span>
        By clicking the create account button, you confirm that you have familiarised yourself with information about the
        <a href="https://www.salesmanago.com/info/information_obligation.htm">processing of personal data</a>  and accept the
        <a href="https://www.salesmanago.com/marketing-automation/terms.htm">terms and conditions.</a>
    </span>
</div>
