<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Config\Block\System\Config\Tabs */
?>

<?php if ($block->getTabs()): ?>
    <div id="<?= /* @escapeNotVerified */ $block->getId() ?>" class="config-nav">
        <?php
        /** @var $_tab \Magento\Config\Model\Config\Structure\Element\Tab */
        /*foreach ($block->getTabs() as $_tab):
            ?>

            <?php
            $activeCollapsible = false;
            foreach ($_tab->getChildren() as $_section) {
                if ($block->isSectionActive($_section)) {
                    $activeCollapsible = true;
                }
            }*/
            ?>

            <div class="config-nav-block admin__page-nav _collapsed
                <?php if (false/*$_tab->getClass()*/): ?>
                    <?= /* @escapeNotVerified */ /*$_tab->getClass()*/ false ?>
                <?php endif ?>"
                 >

                <ul class="admin__page-nav-items items" data-role="content">
                    <?php $_iterator = 1; $iteration = count($block->getMenuItems())?>
                    <?php
                    foreach ($block->getMenuItems() as $manuItem): ?>
                        <li class="admin__page-nav-item item
                            <?= /* @escapeNotVerified */ /*$_section->getClass()*/ false ?>
                            <?php if ($block->isItemActive($manuItem)): ?> _active<?php endif ?>
                            <?= ($iteration == $_iterator) ? ' _last' : '' ?>">
                                <a href="<?= /* @escapeNotVerified */ $block->getUrl($manuItem['url']) ?>"
                                   class="admin__page-nav-link item-nav">
                                    <span><?= /* @escapeNotVerified */ $manuItem['label'] ?></span>
                                </a>
                        </li>
                        <?php $_iterator++; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php
        /*endforeach;*/
        ?>
    </div>
<?php endif; ?>
