<div class="dashboard-item">
    <div class="dashboard-item-title">Log files to download</div>
    <div class="dashboard-item-content">
        <table class="admin__table-primary dashboard-data" id="lastOrdersGrid_table">
            <thead>
                <tr>
                  <th class="data-grid-th  no-link col-customer"><span>Filename</span></th>
                  <th class="data-grid-th  no-link col-items"><span>Full size</span></th>
                  <th class="data-grid-th  no-link col-total"><span>Download</span></th>
                </tr>
            </thead>
            <tbody>

            <?php /** @noEscape */ foreach($block->getLogFiles() as $file) { ?>
            <tr>
                <td class="col-customer"><?= /** @noEscape */ $file['name'] ?> </td>
                <td class="col-items col-number">
                    <?= /** @noEscape */ $file['size'] ?>
                </td>
                <td class="col-total">
                    <a href="<?= /** @noEscape */ $block->getUrl('salesmanago/config/downloadlog') . '?logType=' . $file['type'] ?>">Download</a>
                </td>
            </tr>
            <?php } ?>

            </tbody>
        </table>
    </div>
</div>

<div class="dashboard-item">
    <div id="row_plugin_configurations" class="admin__field field field-template_styles">
        <label class="label admin__field-label" for="plugin_configurations">
            <span>Plugin configurations</span>
        </label>
        <div class="admin__field-control control">
                <textarea id="plugin_configurations" name="styles" rows="2" cols="15" class="textarea admin__control-textarea" style="height: 200px;">
                    <?= /** @noEscape */ $block->getConfigurations() ?>
                </textarea>
        </div>
    </div>
</div>
