<div class="fieldset-wrapper-title">
    <strong>Welcome</strong>
</div>
<div class="bhr-container">
    <div class="bhr-form__group bhr-row">
        <h1 class="bhr-img bhr-img-settings">
        </h1>
        <div class="bhr-account">
            <p class="bhr-account__contacts"><?php echo $this->pluginVersion; ?></p>
            <p class="bhr-account__info">Plugin version</p>
            <p class="bhr-account__contacts"><?php echo $this->clientId; ?></p>
            <p class="bhr-account__info">Client Id</p>
            <p class="bhr-account__contacts"><?php echo $this->endpoint; ?></p>
            <p class="bhr-account__info">Endpoint</p>
        </div>
    </div>
</div>


